statistique/csv
statistique/rapport/latex/mooc_mertes.aux
statistique/rapport/latex/mooc_mertes.dvi
statistique/rapport/latex/
statistique/rapport/latex/mooc_mertes.fdb_latexmk
statistique/rapport/latex/mooc_mertes.fls
statistique/rapport/latex/mooc_mertes.log
statistique/rapport/latex/mooc_mertes.synctex.gz
statistique/rapport/latex/mooc_mertes.toc

